/* Forgetpassword.css */

/* Add a prefix to all your class names */
.forget-password-container {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 450px;
    text-align: center;
    position: relative;
  }
  
  .forget-password-content a {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
  }
  
  .forget-password-content a:hover {
    color: #000;
  }
  
  .forget-password-heading {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: start;
  }
  
  .forget-password-paragraph {
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
    text-align: start;
  }
  
  .forget-password-input-fields {
    margin: 10px 0;
  }
  
  .forget-password-input-field {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
  }
  
  .forget-password-bottom {
    margin-top: 20px;
  }
  
  .forget-password-button {
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 7px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
  }
  
  .forget-password-button:hover {
    background-color: #333;
  }
  